@model BudgetManager.Models.Expense

@{
    ViewBag.Title = "Create";
}

<style>
    #formularz{
        transform:translate(25%, 0%);
        color:black;
    }
    #error1{
        color:firebrick;
         margin-left: auto;
        
    }
    #error2 {
        color: firebrick;
        
    }
    #error4{
        color: firebrick;
    }

    #error3 {
        color: firebrick;
    }
    #stworz {
        transform: translate(50%, 0%);
        padding-top: 30px;
    }
    #wyd{
         transform:translate(26%, 0%);
         padding-bottom: 20px;
    }
    #dodaj{
         transform:translate(9%, 0%);
    }
    #powr{
 transform:translate(47%, 0%);
    }
</style>

<h2 id="stworz">Stwórz</h2>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" id="formularz">
    <h4 id="wyd">Wydatek</h4>
    <hr />
  
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserID, "Użytkownik:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BudgetID, "Budżet:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("BudgetID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BudgetID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryID, "Kategoria:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Desription, "Opis:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Desription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Desription, "", new { @class = "text-danger" })
        </div>
     
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, "Kwota:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            <p id="error4" class="error">   @ViewBag.errorUjemny</p>

        </div>
        <p id="error1" class="error">   @ViewBag.ErrorMax</p>
        <p class="error" id="error2">   @ViewBag.ErrorMax2 </p>

    </div>
   

    <div class="form-group">
        @Html.LabelFor(model => model.DateExp, "Data Wydatku:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateExp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateExp, "", new { @class = "text-danger" })
        </div>
        <p id="error3" class="error"> @ViewBag.ErrorData </p>
</div>

    <div class="form-group" id="dodaj">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Dodaj" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div id="powr">
    <h3>  @Html.ActionLink("Powrót do listy", "Index") </h3> 
</div>


