@model BudgetManager.Models.User

@{
    ViewBag.Title = "Details";
}
    <style>
        #tab {
            transform: translateX(35%);
            padding-bottom: 30px;
        }

        #sz {
            padding-top: 20px;
        }

        #tt {
            padding-top: 30px;
        }

        #nn {
            padding-top: 30px;
            background-color:  rgba(238, 242, 233,.7);
            color:black;
        }
    </style>

<h2 id="sz">Szczegóły</h2>

<div id="tt">
    <h4>
        Nazwa użytkownika:  @Html.DisplayFor(model => model.NazwaUzyt)
    </h4>
</div>




<div>



   
  

        <h3 id="tab"> Wydatki użytkownika:</h3>


        <table class="table table-hover" id="nn">
            <tr>
                <th>Opis</th>
                <th>Data wydatku</th>
                <th>Kategoria</th>
                <th>Kwota</th>
            </tr>
            @foreach (var item in Model.Expenses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateExp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.NazwaKat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
            }
        </table>




   
</div>
<p>
    <h3> @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do listy", "Index")  </h3>  
</p>
    
